@charset "UTF-8";


/* ===== Layout ===== */
.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.w-100 {
  width: 100%;
}

.align-items-center {
  align-items: center;
}
/* ===== End Layout ===== */


/* ===== Text style ===== */
.text-sb-8 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
}

.text-sb-11 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.text-sb-11 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.text-sb-6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.text-xb-6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.text-xb-4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.text-r-4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.text-s-4 {
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}

.text-r-6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.text-xr-6 {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.text-xr-8 {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}

.text-r-10 {
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
}
/* ===== End Text style ===== */


/* ===== Text color ===== */
.text-white {
  color: #fff !important;
}

.text-blue {
  color: #3db4f7 !important;
}
/* ===== End Text color ===== */


/* ===== Bg ===== */
.bg-gradient {
  background: linear-gradient(120deg, #00c4b8 55%, #3db4f7 100%) !important;
}

.bg-blue {
  background-color: #3db4f7 !important;
}

.bg-yellow {
  background-color: #ffce3f !important;
}
/* ===== End Bg ===== */


/* ===== Button ===== */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  outline: none !important;
  border: 1px solid transparent;
  background-color: transparent;
  height: 60px;
  font-size: 16px;
  text-align: center;

  &:hover {
    border-color: transparent;
  }

  &.btn-outline-white {
    border-width: 1px;
    border-color: #fff;
  }

  &.btn-back {
    width: 20px;
    height: 20px;
    background: url("../assets/icon/back.svg") no-repeat center;
    background-size: contain;
  }

  &.btn-search {
    width: 24px;
    height: 24px;
    background: url("../assets/icon/search.svg") no-repeat center;
    background-size: contain;
  }

  &.btn-clear {
    width: 20px;
    height: 20px;
    background: url("../assets/icon/clear.svg") no-repeat center;
    background-size: contain;
  }

  &.btn-text-sm {
    gap: 4px;
    height: auto;
    font-size: 14px;

    span {
      color: #00c4b8;
      font-weight: 200;
    }
  }
}
/* ===== End Button ===== */


/* ===== Icon ===== */
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  object {
    width: 100%;
  }

  &.icon-character {
    width: 69px;
    height: auto;
  }

  &.icon-category {
    width: 100px;
    height: 100px;
  }

  &.icon-quotes {
    width: 12px;
    height: 12px;

    &-right {
      top: 1px;
      transform: scaleX(-1) scaleY(-1);
    }
  }

  &.icon-tooltip {
    width: 16px;
    height: 16px;
  }
}
/* ===== End Icon ===== */


/* ===== Badge ===== */
.badge {
  display: inline-block;
  border-radius: 100px;
  background-color: #eee;
  min-width: 56px;
  padding: 0 4px;
  font-size: 12px;
  color: #fff;
  font-weight: 200;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Pretendard', sans-serif;
}
/* ===== End Badge ===== */


/* ===== Tooltip ===== */
.tooltip {
  position: relative;

  &-box {
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 220px;
    padding: 8px 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.08);
    text-align: center;

    p {
      font-size: 14px;
      font-weight: 300;
    }
  }
}
/* ===== End Tooltip ===== */


/* ===== Modal ===== */
.modal {
  display: none;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 9999;
  max-width: 780px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);

  &.show {
    display: flex;
  }

  .modal-dialog {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 24px;
    background: #fff;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.3s ease-in-out;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .modal-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
  }
}
/* ===== End Modal ===== */


/* ===== Animation ===== */
@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}
/* ===== End Animation ===== */
