@charset "UTF-8";
@use "./font";
@use "./variables";
@use "./reset";
@use "./common";


/* ===== Common style ===== */
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  width: 100%;
  font-size: 14px;
  color: #888;
  font-weight: 300;
}

.no-data-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 100px 0;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
  }

  strong {
    color: #333;
  }

  p {
    color: #666;
  }
}
/* ===== End Common style ===== */


/* ==== Header ===== */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 0 24px;
  width: 100%;
  height: variables.$headerHeight;

  &:not(.sub-header) {
    .btn-search {
      filter: invert(100%) sepia(0%) saturate(7456%) hue-rotate(354deg) brightness(104%) contrast(99%);
      will-change: filter;
    }
  }

  &.sub-header {
    position: fixed;
    justify-content: space-between;
    gap: 12px;
    padding: 16px 24px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;

    &.shadow {
      border-bottom: 0;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
    }

    &.none {
      border-bottom: 0;
    }
  }
}

.search {
  position: relative;
  width: calc(100% - 76px);
  height: 24px;
  margin-right: 8px;

  input {
    width: 100%;
    height: 24px;
    padding-right: 28px;
    outline: none;
    border: 0;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;

    &::placeholder {
      opacity: 0.5;
      color: #333;
      font-weight: 300;
    }
  }
  
  .btn-clear {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
  }
}
/* ==== End Header ===== */


/* ==== Footer ===== */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: variables.$footerHeight;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    z-index: -1;
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,0.2);
    filter: blur(6px);
    will-change: filter;
  }

  nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #fff;

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(.btn) {
        flex-direction: column;
        gap: 4px;
        width: calc((100% - 28px) / 2);
        font-size: 10px;
        color: #00c4b8;
        font-weight: 500;
        line-height: 15px;
      }

      &.btn {
        position: absolute;
        left: 50%;
        top: -10px;
        z-index: 10;
        width: 72px;
        height: 72px;
        border: 8px solid #fff;
        border-radius: 50%;
        background: linear-gradient(120deg, #00c4b8 50%, #3db4f7);
        font-size: 12px;
        color: #fff;
        font-weight: 500;
        line-height: 15px;
        transform: translateX(-50%);
      }
    }
  }
}
/* ==== End Footer ===== */


/* ==== ChatShortCut ===== */
.chat-shortcut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 16px;
  bottom: calc(#{variables.$footerHeight} + 16px);
  z-index: 100;
  max-width: 342px;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background: transparent;

  .icon-chat {
    position: relative;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 12px 0 rgba(0, 0, 0, 0.12);
  }

  .text {
    flex: 1;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .icon-arrow {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
  }

  &.open {
    width: 90%;
    height: 72px;
    padding: 12px 20px;
    background: linear-gradient(136deg, #00c4b8 30.31%, #63eab1 104.04%);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 12px 0 rgba(0, 0, 0, 0.12);
    transition: width 0.3s, height 0.3s;

    * {
      transition: opacity 0.3s, visibility 0.3s;
    }
  }

  &.able {

    .icon-chat {
      box-shadow: none;

      &::after {
        content: "";
        position: absolute;
        left: -4px;
        top: -4px;
        bottom: -4px;
        right: -4px;
        z-index: -1;
        border-radius: 50%;
        background: rgba(255,255,255,0.2);
      }

      object {
        filter: invert(55%) sepia(98%) saturate(1958%) hue-rotate(136deg) brightness(97%) contrast(101%);
        will-change: filter;
      }
    }

    .text {
      opacity: 1;
      visibility: visible;
      width: auto;
      height: auto;
      padding: 0 32px 0 12px;
    }

    .icon-arrow {
      opacity: 1;
      visibility: visible;
    }
  }
}
/* ==== End ChatShortCut ===== */


/* ==== Intro page ===== */
.intro-container {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #00c4b8 30%, #3db4f7 100%);
  background-size: 200% 200%;
  background-attachment: fixed;
  animation: waveGradient 2.5s ease infinite;
  transition: opacity 1s ease-out, visibility 1s ease-out;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  h1 {
    position: relative;
    animation: fadeUp 1.5s ease-out forwards;

    &::after {
      content: "";
      position: absolute;
      width: 150px;
      height: 150px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      animation: rippleEffect 1.5s ease-out infinite;
    }
  }
}
/* ==== End Intro page ===== */


/* ==== Main page ===== */
.main-page {

  .main-visual {
    padding: variables.$headerHeight 16px 104px;
    text-align: center;

    .inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      padding: 20px 12px 0;
    }

    h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }

    .btn {
      gap: 8px;
      width: 100%;
      font-weight: 500;

      .icon {
        margin-top: -2px;
      }
    }
  }

  .contents-wrap {
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin-top: -64px;
    border-radius: 24px 24px 0 0;
    background-color: #fff;

    section {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 40px 24px;
      border-top: 8px solid #f7f7f7;

      &:first-child {
        border-top: 0;
      }

      &:last-child {
          padding-bottom: calc(#{variables.$footerHeight} + 40px);
      }
    }
  }

  .main-category {

    h2 {
      white-space: nowrap;
    }
  }
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 60px;
  padding: 16px;
  border: 1px solid #e5e5e5;
  background-color: #fafafa;

  p {
    opacity: .5;
    font-size: 16px;
    color: #333;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  .card {
    width: calc((100% - 24px) / 2);

    a {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 4px;
      position: relative;
      top: 0;
      height: 100%;
      padding: 16px 16px 107px 16px;
      border-radius: 12px;
      background-color: #fcfdfc;
      -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
      box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
      transition: top 0.3s;

      &:hover {
        top: -12px;
      }
    }

    .icon-category {
      position: absolute;
      right: 8px;
      bottom: 8px;
      width: 88px;
      height: 88px;
    }
  }
}
/* ==== End Main page ===== */


/* ==== Word page ===== */
.word-page {

  .word-visual {
    padding-top: variables.$headerHeight;

    * {
      color: #fff;
    }

    .inner {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 40px 24px 20px;

      dl {
        display: flex;
        flex-direction: column;
        gap: 8px;

        dt {
          position: relative;

          span {
            position: relative;
            z-index: 1;
          }

          &.underline {

            span {
              padding: 0 4px;

              &::after {
                content: "";
                opacity: 0.3;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: -1;
                width: 100%;
                height: 50%;
                background: #fff;
              }
            }
          }

          &.quotes {

            .icon-quotes {
              display: inline-block;
              vertical-align: top;

              &-left {
                margin-right: 4px;
              }

              &-right {
                margin-left: 4px;
              }
            }
          }
        }
      }
    }
  }

  .contents-wrap {
    background-color: #fff;

    .word-list-wrap {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 24px 24px calc(#{variables.$footerHeight} + 40px);
    }

    .word-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}

.category-tab {
  overflow-x: scroll;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    display: flex;
    gap: 24px;

    &::before {
      content: "";
      display: block;
      width: 24px;
      margin-right: -24px;
      flex-shrink: 0;
    }

    &::after {
      content: "";
      display: block;
      width: 24px;
      margin-left: -24px;
      flex-shrink: 0;
    }

    li {
      flex: 1;
      white-space: nowrap;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        height: 64px;
      }

      &.active {

        a {

          .icon {
            filter: invert(55%) sepia(98%) saturate(1958%) hue-rotate(136deg) brightness(97%) contrast(101%);
            will-change: filter;
          }

          span {
            color: #00c4b8;
          }
        }
      }
    }
  }
}

.word-list {

  .card {
    padding: 20px 8px;
    border-bottom: 1px solid #e5e5e5;

    &:first-child {
      border-top: 1px solid #e5e5e5;
    }

    dl {
      display: flex;
      flex-direction: column;
      gap: 8px;

      dt {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;

        span {
          font-size: 12px;
          color: #00c4b8;
          font-weight: 300;
        }
      }

      dd {
        min-height: 24px;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        font-family: 'Pretendard', sans-serif;
        letter-spacing: -0.03em;

        * {
          font-family: 'Pretendard', sans-serif;
        }

        &.dd-item {
          position: relative;
          padding-left: 64px;
          line-height: 24px;

          &.dd-example {
            margin-top: 4px;
          }

          .badge {
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}
/* ==== End Word page ===== */


/* ==== Search page ===== */
.search-page {
  padding-top: variables.$headerHeight;

  .search-result {
    padding: 0 24px;

    .word-list {

      .card {

        &:first-child {
          border-top: 0;
        }
      }
    }
  }
}
/* ==== End Search page ===== */


/* ==== Quiz page ===== */
#root {

  &:has(.quiz-page) {

    .page-wrapper {
      height: 100%;
    }

    .page {
      height: 100%;
    }
  }
}

.quiz-page {
  padding-top: variables.$headerHeight;
  padding-bottom: variables.$chatBarHeight !important;

  .chat-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: variables.$chatBarHeight;
    padding: 12px 16px;
    background-color: #fff;
    box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.04);

    input {
      width: calc(100% - 60px);
      height: 24px;
      padding: 6px 16px;
      outline: none;
      border: 0;
      border-radius: 30px;
      background-color: #fafafa;
      font-size: 16px;

      &::placeholder {
        opacity: 0.5;
        color: #333;
        font-weight: 300;
      }
    }

    &.disabled {

      input {
        background-color: #e5e5e5;
      }
    }
  }

  main {
    overflow-y: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .chat-wrap {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    padding: 12px 16px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }


  .chat-item-wrap {
    display: flex;
    justify-content: flex-start;
    margin-top: 12px;

    .chat-item {
      position: relative;
      max-width: 270px;
      padding: 8px 10px;
      border: 1px solid rgba(160, 160, 160, 0.1);
      border-radius: 16px 16px 16px 0.5px;
      background-color: #fcfdfc;
      box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.08);
      font-size: 14px;
      font-family: 'Pretendard', sans-serif;
      line-height: 21px;
      letter-spacing: -0.02em;
    }

    &.assistant {

      .chat-item {
        width: 270px;
        padding-right: 40px;

        &:after {
          content: "";
          position: absolute;
          right: 10px;
          top: 8px;
          width: 26px;
          height: 21px;
          background: url("../assets/icon/face.svg") no-repeat center;
          background-size: contain;
        }
      }
    }

    &.user {
      justify-content: flex-end;

      .chat-item {
        border-radius: 16px 16px 0.5px 16px;
        background: linear-gradient(120deg, #00c4b8 50%, #3db4f7);
        font-weight: 300;
        color: #fff;
      }
    }
  }
}
/* ==== End Quiz page ===== */
