@charset "UTF-8";
@use "./font";
@use "./variables";
@use "./reset";
@use "./common";


/* ===== Common style ===== */
#wrap {
  width: 100%;
  min-height: 100vh;
  padding-bottom: variables.$footerHeight;
}

.contents-wrap {
  overflow: hidden;
  position: relative;
  z-index: 10;
  border-radius: 24px 24px 0 0;
  background-color: #fff;
}

.search-bar {

  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 60px;
    padding: 16px;
    border: 1px solid #e5e5e5;
    background-color: #fafafa;

    input {
      width: calc(100% - 32px);
      height: 100%;
      border: 0;
      background-color: transparent;
      outline: none;
      font-size: 16px;
      color: #212121;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.01em;

      &::placeholder {
        opacity: .5;
        font-weight: 300;
        color: #333;
      }
    }
  }
}

.search-category {

  .btn {
    flex-direction: column;
    gap: 4px;
    padding: 0;
    border-color: #e5e5e5;
    border-radius: 0;
    width: 76px;
    height: 56px;
    font-size: 12px;
  }
}

.select-category-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  li {

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      font-size: 14px;
      color: #212121;
      font-weight: 300;

      .icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.active {

      a {
        color: #2aa971;
        font-weight: 500;
      }
    }
  }
}
/* ===== End Common style ===== */


/* ==== Header ===== */
#header {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1000;
  padding: 0 24px;
  max-width: variables.$maxViewport;
  width: 100%;
  height: variables.$headerHeight;
  transform: translateX(-50%);

  &.sub-header {
    gap: 12px;
    padding: 16px 24px;
    background-color: #fff;
  }
}
/* ==== End Header ===== */


/* ==== Footer ===== */
#footer {
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 1000;
  max-width: variables.$maxViewport;
  width: 100%;
  height: variables.$footerHeight;
  transform: translateX(-50%);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    z-index: -1;
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,0.2);
    filter: blur(6px);
  }

  nav {
    display: flex;
    height: 100%;
    background-color: #fff;

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(.btn) {
        flex-direction: column;
        gap: 4px;
        width: 50%;
        font-size: 10px;
        color: #00c4b8;
        font-weight: 500;
        line-height: 15px;
      }

      &.btn {
        position: absolute;
        left: 50%;
        top: -10px;
        z-index: 10;
        width: 72px;
        height: 72px;
        border: 8px solid #fff;
        border-radius: 50%;
        background: linear-gradient(120deg, #00c4b8 50%, #3db4f7);
        font-size: 12px;
        color: #fff;
        font-weight: 500;
        line-height: 15px;
        transform: translateX(-50%);
      }
    }
  }
}
/* ==== End Footer ===== */


/* ==== Main page ===== */
.main-page {

  .main-visual {
    padding: variables.$headerHeight 16px 104px;
    text-align: center;

    .inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      padding: 20px 12px 0;
    }

    h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      .character {
        width: 69px;
      }
    }

    .btn {
      gap: 8px;
      width: 100%;
      font-weight: 500;

      .icon {
        margin-top: -2px;
      }
    }
  }

  .contents-wrap {
    margin-top: -64px;

    section {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 40px 24px;
      border-top: 8px solid #f7f7f7;

      &:first-child {
        border-top: 0;
      }
    }
  }
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  .card {
    width: calc((100% - 24px) / 2);

    a {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 4px;
      position: relative;
      height: 100%;
      padding: 16px 16px 107px 16px;
      border-radius: 12px;
      background-color: #fcfdfc;
      -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
      box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    }

    .icon {
      position: absolute;
      right: 8px;
      bottom: 8px;
      width: 88px;
      height: 88px;
    }
  }
}
/* ==== End Main page ===== */


/* ==== Search page ===== */
.search-page {

  .search-visual {
    padding-top: variables.$headerHeight;

    * {
      color: #fff;
    }

    .inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      padding: 40px 24px;

      dl {
        display: flex;
        flex-direction: column;
        gap: 8px;

        dt {
          position: relative;

          span {
            position: relative;
            z-index: 1;
            padding: 0 4px;

            &::after {
              content: "";
              opacity: 0.3;
              position: absolute;
              left: 0;
              bottom: 0;
              z-index: -1;
              width: 100%;
              height: 50%;
              background: #fff;
            }
          }
        }
      }

      .icon {
        justify-content: flex-end;
        width: 100%;
        height: auto;

        object {
          width: 100px;
        }
      }
    }
  }

  .contents-wrap {
    margin-top: -28px;
    padding-top: 28px;
  }

  .search-option-wrap {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    padding: 20px;

    .search-bar {
      width: calc(100% - 80px);
      .input-group {
        height: 56px;
      }
    }
  }

  .search-result-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 24px 40px;

    .d-flex {

      h2 {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}

.word-list {

  .card {
    padding: 20px 8px;
    border-bottom: 1px solid #e5e5e5;

    &:first-child {
      border-top: 1px solid #e5e5e5;
    }

    dl {
      display: flex;
      flex-direction: column;
      gap: 8px;

      dt {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;

        span {
          font-size: 12px;
          color: #00c4b8;
          font-weight: 300;
        }
      }

      dd {
        min-height: 24px;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        font-family: 'Pretendard', sans-serif;
        letter-spacing: -0.03em;

        * {
          font-family: 'Pretendard', sans-serif;
        }

        &.dd-item {
          position: relative;
          padding-left: 64px;
          line-height: 24px;

          &.dd-example {
            margin-top: 4px;
          }

          .badge {
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}
/* ==== End Search page ===== */



